@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@Body
<br /><br />
<div>
    <div class="footer">Credits: This product uses the TMDB API but is not endorsed or certified by TMDB.</div>
    <div class="footer-logo">
        <img class="nav__logo"
             src="/tmdb-logo.svg"
             alt="" />
    </div>
</div>